* body

/****************************Oh-My-Food Logo****/

.logo-header { 
    display: flex;
    position: relative;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

/****************************Address-Section****/

address { 
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #EAEAEA;
    box-sizing: inherit;
    font-family:'Roboto';
    font-weight: 500;
    font-size: 16px;
    font-style:normal; 
    padding: 16px;
}
.fa-location-dot:before, .fa-map-marker-alt:before {
    content: "\f3c5";
    margin-right: 15px; 
} 

.Discover { 
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
    text-align: center;
    padding:29px ;
}
.Discover > h1 { 
    font-size: 700;
    font-weight: 24px;
}

.Discover> p { 
    font-size: 18px;
    font-weight: 300;
}

/****************************Button****/

.Button { 
    display: inline-block;
    position: relative;
    padding: 18px 24px;
    border-radius: 50px;
    color: #FFF;
    background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
    text-decoration: none;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    
}

.Button:hover {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.Button:after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, #ff88de 0%, #a16be0 100%);
    opacity: 0;
}
/****************************Restaurants****/
