* body { 
    font-family: sans-serif;
    text-decoration: none;
}

/****************************Oh-My-Food Logo****/

.logo-header { 
    display: flex;
    position: relative;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

/****************************Address-Section****/

address { 
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #EAEAEA;
    box-sizing: inherit;
    font-family:'Roboto';
    font-weight: 500;
    font-size: 16px;
    font-style:normal; 
    padding: 16px;
}
.fa-location-dot:before, .fa-map-marker-alt:before {
    content: "\f3c5";
    margin-right: 15px; 
} 

.Discover { 
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
    text-align: center;
    padding:29px ;
}
.Discover > h1 { 
    font-size: 700;
    font-weight: 24px;
}

.Discover> p { 
    font-size: 18px;
    font-weight: 300;
}

/****************************Button****/

.Button { 
    display: inline-block;
    position: relative;
    padding: 18px 24px;
    border-radius: 50px;
    color: #FFF;
    background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
    text-decoration: none;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    
}

.Button:hover {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.Button:after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, #ff88de 0%, #a16be0 100%);
    opacity: 0;
}
/****************************Guide section****/

.restaurant-guides {
    display: flex; 
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border-radius: 30px;
    margin-bottom: 18px;
    margin-left: 12px;
    padding: 15px;
 
}

.fa-mobile-android-alt:before, .fa-mobile-screen:before {
    content: "\f3cf";
    margin: 15px;
}

.step {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: 15px;
    margin-right: 10px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
  }

  .step__icon {
    margin: 0 20px 0 26px;
    font-size: 20px;
    color: #7E7E7E;
  }
  .step__title {
    font-weight: 900;
  }
  .step__number {
     text-align: center;
    background: #9356DC;
    color: #FFF;
    left: -10px;
    width: 20px; 
    border-radius: 50%;
    height: 20px;
    line-height: 20px;
    position: absolute;
    
  }
  .step:hover {
    background-color: #F5EDFF;
  }
  .step:hover i {
    color: #9356DC;
  }
  @media only screen and (min-width: 768px) {
    .step {
      flex-basis: 47%;
    }
  }
  @media only screen and (min-width: 992px) {
    .step {
      flex-basis: 30%;
    }
  }

  /****************************restaurant****/

.restaurant  { 
    display: flex;
    background-color: #F6F6F6;
    padding: 25px 5px;
    background: #f6f6f6;
}


.room-title,
.room-subtitle {
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 2px;
    margin-top: 0px;
}

room-rating {
    margin-bottom: 1px;
}

.border {
    background-color: white;
    border-radius: 10%;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    gap: 8px;
}