$address-background-color: #EAEAEA;

@import "variables";

/* Colours for each section */

$primary-background-color:#EAEAEA;
$secondary-background-color: #F6F6F6;
$pritertiary-background-color:#FFF;

.Button { 
  background-color: linear-gradient(180deg, #ff88de 0%, #a16be0 100%);
  color: #FFF;
}
.Discover { 
  $background-color:#F6F6F6;
}

.restaurant-card { 
  $background-color: white;
}



